<div class="details">
    <div class="col">
        <img src="../images/humidity.png" alt="" />
        <div>
            <p class="humidity">{{humidity ? humidity + "%" : "%"}}</p>
            <p>Humidity</p>
        </div>
    </div>
    <div class="col">
        <img src="../images/wind.png" alt="" />
        <div>
            <p class="wind">{{wind_speed ? wind_speed + " mph" : "mph"}}</p>
            <p>Wind Speed</p>
        </div>
    </div>
    <div class="col">
        <img src="../images/feels_like.png" alt="" />
        <div>
            <p class="feels_like">{{feels_like ? feels_like + "°F" : "°F"}}</p>
            <p>Feels Like</p>
        </div>
    </div>
</div>